<div class="col-md-12 ">
  <h2>Route Details</h2>
  <div class="col-md-12 margin-bottom">
    <button routerLink="/addsetroute" class="btn btn-primary pull-right">Add Routes</button>
  </div>


  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Destination</th>
          <th>Cost</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let setroute of setroutes">
          <td><a [routerLink]="['/viewsetroute',{id: setroute.id}]" >{{setroute.destination}}</a></td>
          <td>{{setroute.cost}}</td>

          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit editBtn" [routerLink]="['/editsetroute',{id: setroute.id}]" ></button>
              <button type="button" class="btn btn-default fa fa-trash-o editBtn" [routerLink]="['/deletesetroute', {id: setroute.id}]"></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
