<div class="wrapper wrapper-content animated fadeIn marginclass">
  <div class="row" >
    <div class="col-lg-6 col-lg-offset-3">
      <div class="col-lg-12">

       <h3>New Task </h3>

            <form class="form-horizontal" #admission="ngForm">
              <fieldset>
                <div class="ibox float-e-margins">
                  <div class="ibox-content">

                    <div class="form-group m-b-xs">
                      <label class="col-md-3 control-label">Title </label>
                      <div class="col-md-9">
                        <input type="text" name="title" class="form-control" [(ngModel)]="task.title">
                      </div>
                    </div>

                    <div class="form-group m-b-xs">
                      <label class="col-md-3 control-label">Description </label>
                      <div class="col-md-9">
                        <input type="text" name="description" class="form-control" [(ngModel)]="task.description">
                      </div>
                    </div>

                    <div class="form-group m-b-xs">
                      <label class="col-md-3 control-label">Select Department </label>
                      <div class="col-md-9">
                        <select class="selectpicker form-control" name="department" [(ngModel)]="task.department">
                          <option>Select</option>
                          <option>English</option>
                          <option>Maths</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group m-b-xs">
                      <label class="col-md-3 control-label">Select Class </label>
                      <div class="col-md-9">
                        <select class="selectpicker form-control" name="class" [(ngModel)]="task.class">
                          <option>Select</option>
                          <option>123 - 123</option>
                          <option>G1 - G2</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group m-b-xs">
                      <label class="col-md-3 control-label">Start Date </label>
                      <div class="col-md-9">
                        <input type="date" name="startDate" class="form-control" [(ngModel)]="task.startDate">
                      </div>
                    </div>

                    <div class="form-group m-b-xs">
                      <label class="col-md-3 control-label">End Date </label>
                      <div class="col-md-9">
                        <input type="date" name="endDate" class="form-control" [(ngModel)]="task.endDate">
                      </div>
                    </div>

                    <div class="form-action">
                      <div class="col-md-12">
                        <button type="submit"  [disabled]="!admission.form.valid"
                                class="btn btn-md btn-primary pull-right m-t-xs m-l btn-save"
                                (click)="save();  $event.stopPropagation()">
                          <strong>Save</strong></button>

                        <button class="btn btn-md btn-white pull-right m-t-xs" type="button"
                                (click)="cancel(); $event.stopPropagation()">
                          <strong>Cancel</strong></button>
                      </div>
                    </div>
                  </div>

                  <div class="ibox-content">
                    <table class="table table-striped table-hover">
                      <thead>
                      <tr>
                        <th>Tasks List</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                      </tr>
                      <tr *ngFor="let task of tasks">
                        <td>{{task.title}}</td>
                        <td>{{task.description}}</td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default fa fa-edit editBtn" (click)="update(task.id)"></button>
                            <button type="button" class="btn btn-default fa fa-trash-o editBtn" (click)="delete(task.id)"></button>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </fieldset>
            </form>
          </div>

        </div>
      </div>
    </div>


