<div class="wrapper wrapper-content animated fadeIn marginclass">

    <div class="col-lg-10 col-lg-offset-2">
      <div class="col-lg-10">
        <ul class="nav nav-tabs">
          <li ><a routerLink="icseexam">ICSE Exam Categories</a></li>
          <li><a routerLink="assessmentsettings">Internal Assessment Settings</a></li>
          <li><a routerLink="assessmentgroup">Internal Assessment Group</a></li>
          <li><a routerLink="weightagegroup">ICSE Weightages</a></li>
        </ul>

        <div class="tab-content">

          <router-outlet></router-outlet>


        </div>
      </div>
    </div>
  </div>


