<div class="wrapper wrapper-content animated fadeIn marginclass">

    <div class="col-lg-8 col-lg-offset-2">
      <div class="col-lg-10">
        <ul class="nav nav-tabs">
          <li ><a routerLink="storecategory">Store Category</a></li>
          <li><a routerLink="storetype">Store Type</a></li>
          <li><a routerLink="storedetails">Store</a></li>

        </ul>

        <div class="tab-content">
          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>


