<div class="wrapper wrapper-content animated fadeIn marginclass">
<div [formGroup]="formGroup">
  <div class="row" >
    <div class="col-lg-6 col-lg-offset-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            School details
          </h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div class="form-group m-b-xs">
            <label class="col-md-3 control-label">Name:</label>
            <div class="col-md-9">
              <p>{{school.name}}</p>
            </div>

          </div>
          <br>
          <br>
          <div class="form-group m-b-xs">

            <label class="col-md-3 control-label">Domain name:</label>
            <div class="col-md-9">
              <p>{{school.domainName}}</p>
            </div>

          </div>
        </div>
      </div>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            School address
          </h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div class="form-group m-b-xs">

            <label class="col-md-3 control-label">Address:</label>
            <div class="col-md-9">
              <p>{{school.address1}}</p>
              <br>
              <p>{{school.address2}}</p>
              <br>
            </div>

          </div>
          <br>
          <br>

          <div class="form-group m-b-xs">

            <label class="col-md-3 control-label">City:</label>
            <div class="col-md-9">
              <p>{{school.city}}</p>
              <br>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="form-group m-b-xs">

            <label class="col-md-3 control-label">State:</label>
            <div class="col-md-9">
              <p>{{school.state}}</p>
              <br>
            </div>
          </div>
          <br>
          <br>
          <div class="form-group m-b-xs">

            <label class="col-md-3 control-label">PIN code:</label>
            <div class="col-md-9">
              <p>{{school.pincode}}</p>
              <br>
            </div>
          </div>
          <br>
          <br>
          <!-- <div class="form-group m-b-xs">

               <label class="col-md-3 control-label">Country:</label>
               <div class="col-md-9">



               </div>
           </div> -->
        </div>
      </div>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            Contact Information
          </h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div class="form-group m-b-xs">

            <label class="col-md-3 control-label">Email:</label>
            <div class="col-md-9">
              <p>{{school.email}}</p>
            </div>
          </div>
          <br>
          <!-- <div class="form-group m-b-xs">

               <label class="col-md-3 control-label">Contact No:</label>
               <div class="col-md-9">
                    <input type="text" class="form-control" formControlName="domainName">

               </div>
           </div>
           <br>
           <div class="form-group m-b-xs">

               <label class="col-md-3 control-label">Mobile No:</label>
               <div class="col-md-9">
                    <input type="text" class="form-control" formControlName="domainName">

               </div>
           </div>-->
          <br>
          <div class="form-group m-b-xs">
            <label class="col-md-3 control-label">Phone No:</label>
            <div class="col-md-9 adjacent-input">
              <div class="first">
                <p>{{school.phone1}}</p>
              </div>
              <br/>
              <div class="second">
                <p>{{school.phone2}}</p>
                <br>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">

            <label class="col-md-3 control-label">Fax:</label>
            <div class="col-md-9">
              <p>{{school.fax}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
