<div class="col-md-12 ">
    <h2>School list</h2>
    <div class="col-md-12 margin-bottom">
        <button routerLink="/addschool" class="btn btn-primary pull-right">Add School</button>
    </div>

    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let school of schools">
                        <td><a [routerLink] = "['/viewschool',school.id ]">{{school.name}}</a></td>
                        <td>{{school.address1}} , {{school.address2}}</td>
                        <td>{{school.phone1}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default fa fa-edit editBtn" [routerLink]="['/editschool', school.id]"></button>
                                <button type="button" class="btn btn-default fa fa-trash-o editBtn" [routerLink]="['/deleteschool', school.id]"></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
