<div class="row border-bottom">
  <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
            <span minimaliza-sidebar>
                <button class="navbar-minimalize minimalize-styl-2 btn btn-primary " ><i class="fa fa-bars"></i></button>
            </span>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a data-toggle="dropdown" class="dropdown-toggle" href aria-expanded="true" style="display: inline-block; padding: 10px 10px;">
          <img alt="image" class="img-circle message-avatar profile" src="assets/img/a1.jpg">
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
          <li><a >Profile</a></li>
          <li><a >Contacts</a></li>
          <li><a >Mailbox</a></li>
          <li class="divider"></li>
          <li><a routerLink="/login">Logout</a></li>
        </ul>
      </li>
    </ul>

  </nav>
</div>
