<div class="wrapper wrapper-content page-menu">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="ibox-title ">
        <h5>
          Set Weekdays & Class Timings Sets
        </h5>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content" >
        <div class="row">



<div class="form-group ">
  <div class="col-lg-6">
      <label>Select Batch :</label>
    </div>

<div class="common_select_box">
  <div class="input-group-btn dropdown {{dropdown1? 'open':''}}"
       (click)="dropdown1=!dropdown1">
    <div class="col-md-7">
      <button type="button" class="selectpicker form-control" dropdown-toggle=""
              aria-haspopup="true" aria-expanded="false">{{selectedBatch.name}} </button>
    </div>

    <ul class="dropdown-menu">
      <li (click)="onSelect(batch)" *ngFor = 'let batch of batches' >
        {{batch.name}}
      </li>
    </ul>
  </div>
</div>
<br>
  <br>
<div *ngIf="selectedBatch">
  <div class="col-lg-9 col-lg-offset-2">

      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12">
            <table class="table">
              <thead>
              <tr>
                <th>Weekdays</th>
                <th>Class Timing Sets</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td> <input type="checkbox" >Sunday </td>
                <td> - </td>
              </tr>
              <tr >
                <td> <input type="checkbox" >Monday </td>
                <td> Secondary </td>
                <td> change</td>
              </tr>
              <tr >
                <td> <input type="checkbox" >Tuesday </td>
                <td> Secondary </td>
                <td>change</td>
              </tr>
              <tr >
                <td> <input type="checkbox" >Wednesday </td>
                <td> Secondary </td>
                <td>change</td>
              </tr>
              <tr >
                <td> <input type="checkbox" >Thursday </td>
                <td> Secondary </td>
                <td>change</td>
              </tr>
              <tr >
                <td> <input type="checkbox" >Friday </td>
                <td> Secondary </td>
                <td>change</td>
              </tr>
              <tr >
                <td> <input type="checkbox" >Saturday </td>
                <td> - </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  <div class="form-action">
    <div class="col-md-12">
      <button type="submit"  [disabled]="!admission.form.valid"
              class="btn btn-md btn-primary pull-right m-t-xs m-l btn-save"
              (click)="save();  $event.stopPropagation()">
        <strong>Save</strong></button>

    </div>
  </div>
</div>
</div>
</div>
  </div>
</div>
</div>
    </div>


